html{
  font-family: "EB Garamond", serif;
  font-size: 62.5%;
}
header {
  height: 40vh;
  text-align: center;
  background-image: url(img/header.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
}
header p {
  font-size: 3rem;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
  padding: 10px;
  font-size: 1.6rem;
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.5rem;
}
h2{
  text-align: center;
 font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.wrap-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.houses-item {
  background-color: #dedede;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.houses-img {
  width: 100%;
  height: auto;
}
.houses-item-text {
padding: 2rem;
}
.houses-img,
.houses-item-text {
  flex: 1 1 30%;
  box-sizing: border-box;
}
.btn-details {
  display: block;
  background-color: blue;
  padding: 5px;
  text-align: center;
}
.price {
  color: green;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
}
.house-details {
  display: flex;
  flex-direction: row;
}
.house-details img {
  margin-right: 3rem;
}
